# directories
data
Day 1
Day 5
Day 7CNO
data
logs
crop_data
registration
text image
build
dist

# filename extension
*.pickle
*.jpg
*.log
*.tif
*.spec
*.traces
*.png
*.tif
*.traces

# specific file
test.ipynb
gui.py